<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ==== Bootstrap ==== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="public/adminPage.css">
    <link rel="stylesheet" href="public/adminPage.scss">

    <link rel="icon" href="pictures/title_1.png" type="image/icon type">
    <title>Admin-Panel</title>
</head>

<body id="body-pd">
    <div class="vie" id="<%- session.UserData[0].views %>"></div>
    <div class="alert alert-success alert-dismissible fade show" id="viewsAlert" role="alert">
        <strong><span id="views1"></span> New Views!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% if(info == 1){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>successfully updated!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
            <% if(imgErr == 1){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong><%- String(error).split(":")[0] %>!</strong>
                    <%- String(error).split(":")[1] %>..
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
                    <% if(imgErr == 2){ %>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>successfully updated!</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <% } %>
                            <!-- ==== Modal-ReadMe ==== -->
                            <div class="modal fade" id="book" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content modal_color text-light">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Read ME</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-center">
                                            1. Color class for Marker.
                                            <br> 2. Use " " not use ' '.
                                            <br> 2. Use #59E8CA.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ==== Modal for Blog Add ==== -->
                            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content modal_color text-light">
                                        <div class="modal-header">
                                            <h5 class="modal-title d-flex align-items-center" id="exampleModalLabel">
                                                <ion-icon name="add-circle-outline"></ion-icon> Blog</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/addBlog" method="POST" enctype="multipart/form-data">
                                                <div class="mb-3">
                                                    <input type="text" placeholder="Title" name="title" required minlength="5" class="form-control">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="">Description</label>
                                                    <textarea class="form-control" name="desc" placeholder="Description"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <input type="file" name="picture1" required class="form-control">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="">Paragraph One</label>
                                                    <textarea class="form-control" name="para1" required placeholder="Paragraph One"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <input type="file" name="picture2" required minlength="5" class="form-control">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="">Paragraph Two</label>
                                                    <textarea class="form-control" name="para2" required minlength="5" placeholder="Paragraph Two"></textarea>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-center">
                                                    <button type="button" class="btn btn-outline-danger rounded-pill" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-outline-light rounded-pill">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ==== Modal For Picture ==== -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content modal_color text-light">
                                        <div class="modal-header">
                                            <h5 class="modal-title d-flex align-items-center" id="exampleModalLabel">
                                                <ion-icon name="camera"></ion-icon>&nbspChange Picture</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/profilePicture" method="POST" enctype="multipart/form-data">
                                                <div class="mb-3 d-flex justify-content-center">
                                                    <img src="<%- session.UserData[0].Picture %>" class="card-img-top rounded-circle" alt="..." style="width: 10rem; ">
                                                </div>
                                                <div class="mb-3">
                                                    <input type="file" name="profile_picture" class="form-control bg-transparent" id="exampleInputPassword2">
                                                </div>
                                                <div class="modal-footer d-flex justify-content-center">
                                                    <button type="button" class="btn btn-outline-danger rounded-pill" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-outline-light rounded-pill">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ==== Modal For Edit Profile -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content modal_color text-light">
                                        <div class="modal-header">
                                            <h5 class="modal-title d-flex align-items-center" id="exampleModalLabel">
                                                <ion-icon name="cog"></ion-icon> Setting</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/UpdateInfo" method="POST">
                                                <div class="mb-3">
                                                    <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="Username" required minlength="6" maxlength="16" value="<%- session.UserData[0].Username %>" aria-describedby="emailHelp">
                                                </div>
                                                <div class="mb-3">
                                                    <input type="password" name="password" class="form-control" required minlength="6" maxlength="16" placeholder="New Password" id="exampleInputPassword1">
                                                </div>
                                                <div class="modal-footer d-flex justify-content-center">
                                                    <button type="button" class="btn btn-outline-danger rounded-pill" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-outline-light rounded-pill">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ==== Modal For Edit Projects -->
                            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content modal_color text-light">
                                        <div class="modal-header">
                                            <h5 class="modal-title d-flex align-items-center" id="exampleModalLabel">
                                                <ion-icon name="add-circle-outline"></ion-icon> Projects</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="submit_projects" method="POST">
                                                <div class="mb-3">
                                                    <input type="text" name="link" class="form-control" placeholder="Link">
                                                </div>
                                                <div class="mb-3">
                                                    <input type="text" name="title" class="form-control" placeholder="Title">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="">Paragraph</label>
                                                    <textarea class="form-control" name="para" placeholder="Description"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" name="language" placeholder="Languages">
                                                </div>

                                                <div class="modal-footer d-flex justify-content-center">
                                                    <button type="button" class="btn btn-outline-danger rounded-pill" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-outline-light rounded-pill">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ==== Start Code ==== -->
                            <div class="l-navbar1" id="navbar">
                                <nav class="nav1">
                                    <div class="scroll" style="overflow-x: scroll;">
                                        <div class="nav__brand">
                                            <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                                            <a href="https://github.com/Azeemaj101" target="_blank" class="nav__logo hor d-flex align-items-center">
                                                <ion-icon name="logo-github"></ion-icon>&nbspGitHub</a>
                                        </div>
                                        <div class="nav__list1 ">
                                            <a href="" class="nav__link1 active">
                                                <ion-icon name="home-outline" class="nav__icon1"></ion-icon>
                                                <span class="nav__name1">Dashboard</span>
                                            </a>
                                            <a href="mailto:azeemaj101@gmail.com" class="nav__link1">
                                                <ion-icon name="mail-outline" class="nav__icon1"></ion-icon>
                                                <span class="nav__name1">Email</span>
                                            </a>
                                            <a data-bs-toggle="modal" data-bs-target="#book" class="nav__link1">
                                                <ion-icon name="book-outline" class="nav__icon1"></ion-icon>
                                                <span class="nav__name1">Read Me</span>
                                            </a>

                                            <div class="nav__link1 collapse1">
                                                <ion-icon name="folder-outline" class="nav__icon1"></ion-icon>
                                                <span class="nav__name1">Projects</span>

                                                <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                                                <ul class="collapse__menu">
                                                    <a href="#" class="collapse__sublink" data-bs-toggle="modal" data-bs-target="#exampleModal1">Add</a>
                                                    <a href="#" class="collapse__sublink" onclick="window.location= '/projectEdit'">Edit</a>
                                                </ul>
                                            </div>
                                            <div class="nav__link1 collapse1">
                                                <ion-icon name="pie-chart-outline" class="nav__icon1"></ion-icon>
                                                <span class="nav__name1">Blogs</span>

                                                <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                                                <ul class="collapse__menu">
                                                    <a href="#" class="collapse__sublink" data-bs-toggle="modal" data-bs-target="#exampleModal3">Add</a>
                                                    <a href="#" class="collapse__sublink" onclick="window.location= '/blogEdit'">Edit</a>
                                                </ul>
                                            </div>
                                            <div class="nav__link1 collapse1">
                                                <ion-icon name="settings-outline" class="nav__icon1"></ion-icon>
                                                <span class="nav__name1">Setting</span>

                                                <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                                                <ul class="collapse__menu">
                                                    <a href="#" class="collapse__sublink" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</a>
                                                    <a href="#" class="collapse__sublink" data-bs-toggle="modal" data-bs-target="#exampleModal2">Picture</a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#" onclick="window.location='/logout'" class="nav__link1">
                                        <ion-icon name="log-out-outline" class="nav__icon1"></ion-icon>
                                        <span class="nav__name1">Log Out</span>
                                    </a>
                                </nav>
                            </div>

                            <div class="d-flex justify-content-center align-items-center flex-wrap">
                                <div>
                                    <img src="<%- session.UserData[0].Picture %>" class="card-img-top rounded-circle" alt="..." style="width: 10rem; ">
                                </div>
                                <div class="d-flex justify-content-center text-center flex-column data" style="margin-left: 3px;">
                                    <span class="fw-bold text-light"> 
                Name:
                <%- session.UserData[0].Name %>
            </span>
                                    <span class="fw-bold text-light">
                Username: 
                <%- session.UserData[0].Username %>
            </span>
                                    <span class="text-center mt-2">
                <button type="button" class="btnm" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                <button type="button" class="btnmC" data-bs-toggle="modal" data-bs-target="#exampleModal2">Change Picture</button>
            </span>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-center align-items-center flex-wrap mt-5 pt-5">
                                <div class="card text-white mb-3 cardm">
                                    <div class="card-body container d-flex justify-content-center flex-column">
                                        <div class="row">
                                            <span class="col d-flex justify-content-center fs-2">Blogs</span>
                                            <span class="col d-flex justify-content-center fs-2"><%- session.UserData[0].blog.length %></span>
                                        </div>
                                        <div class="text-center mt-3">
                                            <button class="btnm" onclick="window.location= '/blogEdit'">Edit</button>
                                            <button class="btnm" data-bs-toggle="modal" data-bs-target="#exampleModal3">ADD</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card text-white mb-3 cardm">
                                    <div class="card-body container d-flex justify-content-center flex-column">
                                        <div class="row">
                                            <span class="col d-flex justify-content-center fs-2">Projects</span>
                                            <span class="col d-flex justify-content-center fs-2"><%- session.UserData[0].projects.length %></span>
                                        </div>
                                        <div class="text-center mt-3">
                                            <button class="btnm" onclick="window.location= '/projectEdit'">Edit</button>
                                            <button class="btnm" data-bs-toggle="modal" data-bs-target="#exampleModal1">ADD</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card text-white mb-3 cardm">
                                    <div class="card-body container d-flex justify-content-center flex-column">
                                        <div class="row">
                                            <span class="col d-flex justify-content-center fs-2">Portfolio</span>
                                            <span class="col d-flex justify-content-center fs-2">
                                                    <a href="../" class="d-flex align-items-center" target="_blank" rel="noopener noreferrer">
                                                        <button class="btnm">Click</button>
                                                    </a>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <span class="col d-flex justify-content-center fs-2">Views</span>
                                            <span class="col d-flex justify-content-center fs-2"><%- session.UserData[0].views %></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- ===== IONICONS ===== -->
                            <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>

                            <!-- ==== JS ==== -->
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
                            <!-- ===== MAIN JS ===== -->
                            <script src="public/adminPage.js"></script>
                            <!-- <label for="">Paragraph One</label> -->
                            <script src="//cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>

                            <script>
                                var views = localStorage.getItem("views");
                                if (views) {
                                    let count = Number(document.getElementsByClassName("vie")[0].id) - Number(views);
                                    document.getElementById("views1").innerText = count;
                                    localStorage.setItem("views", document.getElementsByClassName("vie")[0].id);
                                } else {
                                    document.getElementById("viewsAlert").style.display = "none";
                                    localStorage.setItem("views", document.getElementsByClassName("vie")[0].id);
                                }

                                console.log(document.getElementsByClassName("vie")[0].id);
                                CKEDITOR.replace('desc');
                                CKEDITOR.replace('para1');
                                CKEDITOR.replace('para2');
                                CKEDITOR.replace('para');
                            </script>

</body>

</html>
<!-- <header class="d-flex justify-content-end align-items-center">
    <div class="dropdown px-2">
        <button class="btn btn-dark  dropdown-toggle border border-info" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="<%- session.UserData[0].Picture %>" class="card-img-top rounded-circle" alt="..." style="width: 30px; height: 30px;">
                    <%- session.UserData[0].Name %>
                </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</header> -->